body {
  font-family: Arial;
  background: #f0f2f5;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-green {
  background: #16a34a;
}

.question-box {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
}
